:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;
    
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search{
    margin-right: var(--padding);
}

.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.infoAndComment > .info{
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: all 300ms ease-in-out
}

.info .metadata .titleAndButton .moreBtn.clicked{
    transform: rotate(180deg);
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

/* Action Buttons */
.info .actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.info .actions button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-small);
    color : var(--grey-dark-color)
}

.info .actions button i {
    font-size: 16px;
    margin-bottom: calc(var(--padding) / 2);
}

.info .actions button i.active {
    color: var(--blue-color);
}

/* Channel Description */
.info .channel {
    display: flex;
    justify-content: space-between;
    border-top : 1px solid var(--grey-light-color);
    border-bottom : 1px solid var(--grey-light-color);
}

.info .channel .metadata {
    display: flex;
    align-items:  center;
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.info .channel .metadata .info .name {
    font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
    font-size : var(--font-small);
    color: var(--grey-dark-color);
}

.info .channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

/* comment */
.infoAndComment > .comment {
    display: flex;
    flex-direction: column;
}

.comment .totalCommentAndSort {
    display: flex;
    align-items: center;
    padding: var(--padding);
}

.comment .totalCommentAndSort .sort {
    display: flex;
    align-items: center;
    margin-left: var(--padding);
}

.comment .totalCommentAndSort .sort i {
    color: var(--grey-dark-color)
}

.comment .newComment {
    display: flex;
    margin-bottom: var(--padding);
}

.comment .newComment img {
    width: var(--avatar-size);
    height:var(--avatar-size);
    border-radius: 50%;
    margin-left: var(--padding);
}

.comment .newComment .commentInputAndBtn {
    display: flex;
    flex-direction: column;
}

.comment .newComment .commentInputAndBtn .emoticonAndBtn {
    display: flex;
}

.comment .newComment .commentInputAndBtn {
    width: 100%;
    margin-left: var(--padding);
}

.comment .newComment .commentInputAndBtn input{
    width: 100%;
}

.comment .newComment .commentInputAndBtn .emoticonAndBtn {
    display: flex;
    justify-content: space-between;
    margin-top: var(--padding);
}

.comment .newComment .commentInputAndBtn .emoticonAndBtn .emoticon {
    font-size: large;
}

.comment .cancelAndAdd button{
    font-size: medium;
}

.comment .cancelAndAdd .add {
    margin: 0 var(--padding);
}

.comment .comments {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.comment .comments .item {
    display: flex;
    margin-bottom: var(--padding);
}

.comment .comments .item img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.comment .comments .item .info {
    display: flex;
    flex-direction: column;
    margin-left: var(--padding);
}

.comment .comments .item .info .nameAndPeriod {
    margin-bottom: 6px;
}

.comment .comments .item .info .nameAndPeriod .name{
    font-size:var(--font-medium);
}

.comment .comments .item .info .nameAndPeriod .period {
    font-size:var(--font-small);
    color: var(--grey-dark-color);
}

.comments .comment {
    margin-bottom: 8px;
}

.comments .emoticon .good,
.comments .emoticon .bad {
    font-size: var(--font-large);
    margin-right: var(--padding);
    color:var(--grey-dark-color);
}

.comments .emoticon .good .goodCount {
    font-size: var(--font-medium);
}
    

/* UpNext */
.upNext {
    padding: 0 var(--padding);
}

.upNext > .title{
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);
}

.upNext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.upNext .item .img img {
    width: 100%
}

.upNext .item .info{
    flex: 1 1 60%;
}

.upNext .item .moreBtn {
    flex: 1 1 5%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
}

.upNext .item .info .title {
    font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
    font-size: var(--font-micro);
}

.infoAndCommentAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndCommentAndUpNext{
        flex-direction: row;
        margin: var(--padding) 0;
    }
}